---
---

<section class="sectionHome flex flex-col items-center justify-center min-h-[90dvh] gap-10 w-[100%] max-w-7xp-[20px]">

    <div class="flex flex-col justify-center items-center z-30">
        <a href="" target="_blank" class="flex justify-center items-center rounded-lg border border-[#1919191c] p-[3px]">
            <h1 class="text-sm text-white font-light bg-[#191919] px-[10px] py-[5px] text-[12px] rounded-md" ><strong >ORIA WEB</strong></h1>
            <div class="hidden sm:flex px-3 h-full w-fit items-center justify-center gap-2" >
                <span class="group-hover:underline font-light text-black/60 dark:text-gray-400">The software development company you need</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-astro-gray-100" viewBox="0 0 24 24" >
                    <path fill="black" d="m16.172 11l-5.364-5.364l1.414-1.414L20 12l-7.778 7.778l-1.414-1.414L16.172 13H4v-2z" ></path>
                </svg>
            </div>
        </a>
        <h2 class="text-black max-w-[65rem] sm:max-w-[65rem] px-3 md:px-0 sm:text-5xl md:text-6xl text-4xl font-bold text-center z-10 pt-[40px]  dark:text-white">Custom Software Development Tailored to Your Needs</h2>
        <h2 class="z-10 text-black/60 mt-6 text-center max-w-[1000px] sm:max-w-[1000px] px-4 text-gray-500 dark:text-gray-400">Discover the transformative power of custom software solutions designed specifically for your business needs. Our team specializes in creating and developing personalized technological solutions.</h2>
    </div>

    <div class="flex justify-center items-center gap-5 flex-row-reverse pb-[50px]">
        <button class="border uppercase text-white bg-gradient-to-tl from-purple-700 to-pink-500 font-bold rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
            Recommended
        </button>
        <a href="" target="_blank" class="flex justify-center items-center rounded-lg underline py-[5px] px-[10px] bg-white">        
            <span class="">The best plans made for you</span>            
        </a>
    </div>

    <div class="counter-container flex justify-center items-center gap-16 flex-wrap">
        <div class="counter flex justify-center items-center flex-col">
            <span>NPM Installs</span>
            <div class="flex justify-center items-center">
                <h3 class="text-dark text-[50px] font-bold" data-target="2100">32,100</h3>
                <h4 class="text-dark text-[50px] font-bold">+</h4>
            </div>            
        </div>
        <div class="line"></div>
        <div class="counter flex justify-center items-center flex-col">
            <span>Live Projects</span>
            <div class="flex justify-center items-center">
                <h3 class="text-dark text-[50px] font-bold" data-target="15">15</h3>
                <h4 class="text-dark text-[50px] font-bold">+</h4>
            </div>
        </div>
        <div class="line"></div>
        <div class="counter flex justify-center items-center flex-col">
            <span>Github Stars</span>
            <div class="flex justify-center items-center">
                <h3 class="text-dark text-[50px] font-bold" data-target="354">34</h3>
                <h4 class="text-dark text-[50px] font-bold">+</h4>
            </div>
        </div>
        <div class="line"></div>
        <div class="counter flex justify-center items-center flex-col">
            <span>Components</span>
            <div class="flex justify-center items-center">
                <h3 class="text-dark text-[50px] font-bold" data-target="1045">1,045</h3>
                <h4 class="text-dark text-[50px] font-bold">+</h4>
            </div>
        </div>
    </div>
</section>






<style>
    .line {
        width: 2.5px;
        background-color: #ebebeb;
        height: 90px;
        border-radius: 10px;
    }
    .counter span {
        font-weight: 500;
        font-size: 18px;
        color: rgb(185, 185, 185);
    }
    .sectionHome {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: max-content;
        background-image: url(Frames48.png);     
    }
</style>