<section class="max-w-1320 w-[100%]">
    <h3 class="text-[40px] font-bold text-[#191919]"><span class="bg-[#191919] text-white px-[5px]">Fast and efficient</span> development</h3>
    <p class="text-[16px] text-black/60 flex items-center gap-2">Deliverability with fewer bugs and visual glitches.
        <img class="" src="pasion.gif" alt="" width="25px">        
    </p>
    <div class="relative mx-auto z-30 grid grid-cols-1 gap-5 pt-14 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Primer item -->
        <div class="rounded-md border border-neutral-300 p-6 relative bg-white dark:bg-black dark:border-[#9ca3af]">
            <div class="h-[40px] w-[40px] flex justify-center items-center rounded-md border bg-gradient-to-t from-indigo-500 via-purple-500 to-pink-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-color-swatch" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19 3h-4a2 2 0 0 0 -2 2v12a4 4 0 0 0 8 0v-12a2 2 0 0 0 -2 -2"></path>
                    <path d="M13 7.35l-2 -2a2 2 0 0 0 -2.828 0l-2.828 2.828a2 2 0 0 0 0 2.828l9 9"></path>
                    <path d="M7.3 13h-2.3a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h12"></path>
                    <line x1="17" y1="17" x2="17" y2="17.01"></line>
                </svg>
            </div>            
            <h3 class="mt-4 font-semibold text-gray-900 dark:text-white">Planes personalizables</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">¿Quieres administrar tu web desde una interfaz? ¡Compra el plan Master!</p>
            <img src="icons/decoration.png" alt="" class="absolute z-[-1] bottom-[-50px] left-[-50px] dark:brightness-50">
        </div>

        <div class="rounded-md border border-neutral-300 p-6 relative bg-white dark:bg-black dark:border-[#9ca3af]">
            <div class="h-[40px] w-[40px] flex justify-center items-center rounded-md border bg-gradient-to-t from-green-400 to-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bolt" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="13 3 13 10 19 10 11 21 11 14 5 14 13 3"></polyline>
                  </svg>
            </div> 
            <h3 class="mt-4 font-semibold text-gray-900 dark:text-white">Rendimiento mejorado</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">Con un rendimiento óptimo en performance y Google Analytics, tu web nunca será lenta.</p>
            <img src="icons/decoration.png" alt="" class="absolute z-[-1] bottom-[-50px] left-[-50px] dark:brightness-50">
        </div>

        <div class="rounded-md border border-neutral-300 p-6 relative bg-white dark:bg-black dark:border-[#9ca3af]">
            <div class="h-[40px] w-[40px] flex justify-center items-center rounded-md border bg-gradient-to-t from-red-400 to-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tools" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
                    <line x1="14.5" y1="5.5" x2="18.5" y2="9.5"></line>
                    <polyline points="12 8 7 3 3 7 8 12"></polyline>
                    <line x1="7" y1="8" x2="5.5" y2="9.5"></line>
                    <polyline points="16 12 21 17 17 21 12 16"></polyline>
                    <line x1="16" y1="17" x2="14.5" y2="18.5"></line>
                  </svg>
            </div> 
            <h3 class="mt-4 font-semibold text-gray-900 dark:text-white">Funciones futuras</h3>
            <p class="my-1 mb-0 text-black/60 dark:text-gray-400">Con <strong>ORIA WEB</strong> podrás comenzar con el plan más básico y en el futuro mejorar tu sitio con nuevos componentes que desees.</p>
            <img src="icons/decoration.png" alt="" class="absolute z-[-1] bottom-[-50px] left-[-50px] dark:brightness-50">
        </div>      
        
      </div>
</section>