<section id="get-free-shares-today" class="relative overflow-hidden bg-gray-900 py-20 w-[100%] flex justify-center items-center">
    <div class="absolute">
        <svg viewBox="0 0 558 558" width="558" height="558" fill="none" aria-hidden="true" class="animate-spin-slower">
            <defs>
                <linearGradient id=":S3:" x1="79" y1="16" x2="105" y2="237" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#fff"></stop>
                    <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                </linearGradient>
            </defs>
            <path opacity=".2" d="M1 279C1 125.465 125.465 1 279 1s278 124.465 278 278-124.465 278-278 278S1 432.535 1 279Z" stroke="#fff"></path>
            <path d="M1 279C1 125.465 125.465 1 279 1" stroke="url(#:S3:)" stroke-linecap="round"></path>
        </svg>
    </div>
    <div class="relative">
        <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
            <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
            <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
            <div class="relative">
                <div class="flex items-center justify-center -space-x-2">
                    <img loading="lazy" width="400" height="400" src="https://covalto.com/static/78498ccda70933a5f1e3edc3e40d3cbe/34aca/Hero_Mobile_Cuenta_Personas_V1_1_8046e424ea.webp" alt="member photo" class="h-8 w-8 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="https://pymstatic.com/5844/conversions/personas-emocionales-wide_webp.webp" alt="member photo" class="h-12 w-12 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="https://static.cegos.es/content/uploads/2023/03/01165224/GettyImages-1300321639.jpg" alt="member photo" class="z-10 h-16 w-16 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="https://www.hola.com/horizon/landscape/6a53cd5134b2-getty-chica-feliz-t.jpg" alt="member photo" class="relative h-12 w-12 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="https://secrecyjewels.es/blog/wp-content/uploads/2022/10/esencia-de-una-persona.jpg" alt="member photo" class="h-8 w-8 rounded-full object-cover">
                </div>
                <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
                    <h1 class="text-center text-4xl font-bold text-white md:text-5xl">Empieza ahora</h1>
                    <p class="text-center text-[16px] text-gray-300/70">Sea parte de millones de personas en todo el mundo que utilizan interfaces modernas para darse a conocer en el mercado</p>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    @keyframes spin {
        to {
            transform: rotate(1turn);
        }
    }

    .animate-spin-slower {
        animation: spin 6s linear infinite;
    }

</style>
