---
import { list_component } from "../../data/SectionHome_v2_list.js";
---
<div class="py-24 sm:py-32 px-[20px]">
    <div class="max-w-1320 w-[100%]">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <div>
            <h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">Todo lo que necesitas</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Plataforma todo en uno</p>
            <p class="mt-6 text-base leading-7 text-black/60 pb-[20px]">Empresa innovadora dedicada a proporcionar soluciones de desarrollo web de alta calidad.</p>
            <img src="123_1x_shots_so.jpeg" alt="" width="100%" class="rounded-lg">       
        </div>
        <div class="col-span-2 grid grid-cols-1 gap-x-8 text-base leading-7 text-black/60 sm:grid-cols-2">
            {list_component.map((list_item) =>           
                <div class="relative pl-9">
                    <div class="font-semibold text-gray-900 flex items-center gap-2">
                        <img src={list_item.imageUrl} alt={list_item.title} class="w-5 h-5" />
                        {list_item.title}                       
                    </div>
                    <span class="mt-2 ">{list_item.descripcion}</span>
                </div>         
            )}     
            <div class="relative pl-9">
                <div class="">
                    <img class="rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/upload-imgnat0651.appspot.com/o/TrabajosPersonales%2Fcap_v5-388475.webp?alt=media&token=d71ca4a5-9de1-457a-91ad-fd97a04f7d87" alt="">               
                </div>
            </div>                    
        </div>
      </div>
    </div>
  </div>