<div class="container_flex flex px-[20px] gap-10 pt-[150px] justify-center max-w-1320 w-[100%]">
    <div class="w-[30%]">
        <h2 class="text-base font-semibold leading-7 text-indigo-500">PREGUNTAS FRECUENTES</h2>
        <p class="mt-4 text-4xl font-extrabold tracking-tight text-slate-900 xl:text-5xl xl:leading-[3.5rem]">¿Tienes dudas o preguntas sobre la construcción de una página web?</p>
    </div>
    <div class="w-[70%] pt-[50px]">
        <section>
            <h3 class="text-sm font-semibold leading-7 text-slate-400">General</h3>
            <div class="mt-2 divide-y divide-slate-100">
                <details class="group py-4 marker:content-['']">
                    <summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 group-open:text-indigo-600 [&amp;::-webkit-details-marker]:hidden">¿Por qué debo tener una página web?
                        <svg
                            class="ml-4 mt-0.5 h-6 w-6 flex-none stroke-slate-700 group-open:stroke-indigo-500"
                            fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path d="M18 12H6"></path>
                            <path class="group-open:hidden" d="M12 6v12"></path>
                        </svg></summary>
                    <div class="pb-6 pt-6">
                        <div
                            class="prose prose-slate max-w-none prose-a:font-semibold prose-a:text-indigo-600 hover:prose-a:text-indigo-500">
                            <p>En la actualidad, tener una página web nos asegura credibilidad ante los posibles clientes potenciales y nos ayuda a ser visibles en google que es uno de los buscadores mas importantes del mundo, con ello lo importante de tener un diseño de página web organizado y estructurado. </p>
                        </div>
                    </div>
                </details>
                <details class="group py-4 marker:content-['']" open>
                    <summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 group-open:text-indigo-600 [&amp;::-webkit-details-marker]:hidden">
                        ¿Pasos para la creación de una página web?
                        <svg class="ml-4 mt-0.5 h-6 w-6 flex-none stroke-slate-700 group-open:stroke-indigo-500" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 12H6"></path>
                            <path class="group-open:hidden" d="M12 6v12"></path>
                        </svg>
                    </summary>
                    <div class="pb-6 pt-6">
                        <div class="prose prose-slate max-w-none prose-a:font-semibold prose-a:text-indigo-600 hover:prose-a:text-indigo-500">
                            <div class="text-[16px] font-bold py-[10px]">INICIO DE PROYECTO</div>
                            <ul class="[&>li]:ml-[20px]">
                                <li> - Reunión de inicio de proyecto</li>
                                <li> - Marca e investigación de mercado</li>
                                <li> - Creación de esquema gráfico y maquetación</li>
                                <li> - Diligenciamiento acta de contenidos y mapa de navegación</li>
                                <li> - Diseño de Boceto o Wireframe con experiencia UX/UI</li>
                                <li> - Comentarios cliente y ajustes</li>
                                <li> - Aprobación y paso a implementación</li>
                            </ul>
                            <div class="text-[16px] font-bold pt-[40px] pb-[10px]">ISTALACIÓN E IMPLEMENTACIÓN</div>
                            <ul class="[&>li]:ml-[20px]">
                                <li> - Implementación de base de datos SQL</li>
                                <li> - Instalación de CMS</li>
                                <li> - Creación e implementación página home y estructura de navegación</li>
                                <li> - Estructura y experiencia UX/UI</li>
                                <li> - Implementación sitio web con soporte responsive</li>
                                <li> - Implementación de páginas o secciones adicionales (Inicio, servicios, contáctenos, etc.)</li>
                                <li> - Cargue de contenido visual, videos e imágenes</li>
                                <li> - Creación de productos o servicios</li>
                                <li> - Envío al cliente para revisión</li>
                            </ul>
                            <div class="text-[16px] font-bold pt-[40px] pb-[10px]">ENTREGA Y PUESTA EN MARCHA</div>
                            <ul class="[&>li]:ml-[20px]">
                                <li> - Asignación de hosting final y dominio</li>
                                <li> - Migración y ajustes finales</li>
                                <li> - Integración de certificados SSL de seguridad</li>
                                <li> - Configuración parámetros SEO (Search Engine Optimization)</li>
                                <li> - Implementación de códigos de seguimiento ads, tag manager, Google Analytics</li>
                                <li> - Entrega de proyecto</li>
                                <li> - Capacitación</li>
                                <li> - Todos nuestros proyectos tienen un soporte de un año</li>
                            </ul>
                        </div>
                    </div>
                </details>                
            </div>
        </section>
        <section>
            <h3 class="text-sm font-semibold leading-7 text-slate-400">Complementacion</h3>
            <div class="mt-2 divide-y divide-slate-100">
                <details class="group py-4 marker:content-['']">
                    <summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 group-open:text-indigo-600 [&amp;::-webkit-details-marker]:hidden">¿Qué material debo tener para la construcción de una página web?
                        <svg class="ml-4 mt-0.5 h-6 w-6 flex-none stroke-slate-700 group-open:stroke-indigo-500" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 12H6"></path>
                            <path class="group-open:hidden" d="M12 6v12"></path>
                        </svg>
                    </summary>
                    <div class="pb-6 pt-6">
                        <div
                            class="prose prose-slate max-w-none prose-a:font-semibold prose-a:text-indigo-600 hover:prose-a:text-indigo-500">
                            <p>El cliente entregara el logo, textos y todo el material visual con el que cuente, nuestro equipo los adaptara en una propuesta visual y un esquema de navegación. Si el cliente desea un servicio adicional para la redacción de sus contenidos, nuestro equipo pondrá a su disposición el servicio de copywriting.</p>
                        </div>
                    </div>
                </details>
                <details class="group py-4 marker:content-['']">
                    <summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 group-open:text-indigo-600 [&amp;::-webkit-details-marker]:hidden">¿El servicio de diseño de paginas web me ofrece una garantía?
                        <svg class="ml-4 mt-0.5 h-6 w-6 flex-none stroke-slate-700 group-open:stroke-indigo-500" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 12H6"></path>
                            <path class="group-open:hidden" d="M12 6v12"></path>
                        </svg>
                    </summary>
                    <div class="pb-6 pt-6">
                        <div
                            class="prose prose-slate max-w-none prose-a:font-semibold prose-a:text-indigo-600 hover:prose-a:text-indigo-500">
                            <p>Todos los proyectos web se entregan con 6 meses de garantía sobre cualquier mal funcionamiento o desperfecto del sitio web construido y contratado por nuestro equipo. El cliente debe hacer un buen eso de las herramientas entregadas para cumplir con dicha garantía.</p>
                        </div>
                    </div>
                </details>


                <details class="group py-4 marker:content-['']">
                    <summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 group-open:text-indigo-600 [&amp;::-webkit-details-marker]:hidden">¿Cómo puedo pagar mi pagina web?
                        <svg class="ml-4 mt-0.5 h-6 w-6 flex-none stroke-slate-700 group-open:stroke-indigo-500" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 12H6"></path>
                            <path class="group-open:hidden" d="M12 6v12"></path>
                        </svg>
                    </summary>
                    <div class="pb-6 pt-6">
                        <div
                            class="prose prose-slate max-w-none prose-a:font-semibold prose-a:text-indigo-600 hover:prose-a:text-indigo-500">
                            <p>El pago obedece a un acuerdo según el plan o las características de su sitio web, lo normal es iniciar con un porcentaje para comenzar con el proyecto y el porcentaje restante al finalizar la construcción de la página.</p>
                        </div>
                    </div>
                </details>
                           
            </div>
        </section>
    </div>
</div>

<style>
    @media (max-width: 870px) {
        .container_flex {
            flex-direction: column;
            & div {
                width: 100%;
            }
        }
    }
</style>